<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Management</title>
</head>
<body>
    <h1>Welcome to Smart Property Planning LLC</h1>
    <a href="/google/login"><button>Google Login</button></a>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates Index.html</title>
</head>
<body>
    <div id="root"></div>
    <script src="{{ url_for('static', filename='assets/index-' + bundle_hash) }}"></script>
</body>
</html>
